@import "reset";

$flash-info-color: rgb(20, 213, 255);
$flash-warn-color: rgb(252, 222, 36);
$flash-danger-color: rgb(255, 36, 36);

$app-selected-color: gold;
$app-bg-color: dimgray;
$app-text-color: white;

$box-bg-color: lightgray;
$box-header-bg-color: gray;

$input-bg-color: white;
$input-text-color: black;
$input-focus-bg-color: lightcyan;
$input-focus-glow-color: skyblue;

$floating-box-bg-color: silver;
$floating-price-color: red;

$product-condition-new-color: rgb(93, 175, 11);
$product-condition-used-color: rgb(255, 186, 51);

$headers: h1, h2, h3, h4, h5, h6;

#{$headers} {
  font-family: $root-font-family;
  margin: 0em;
}

p {
  font-family: $root-font-family;
  margin: 0px;
}

a {
  font-family: $root-font-family;
}

body {
  margin: 0;
  background-color: $app-bg-color;

  @media screen and (min-width: 1024px) {
    width: 1024px;
    margin: 0 auto;
  }
}

.system-logo {
  text-align: center;
  background-color: $app-bg-color;
  color: $app-text-color;
  font-size: 2.0em;
  font-weight: bold;
  margin: 32px;
}

.system-logo-link {
  text-decoration: none;
  color: inherit;
}

.search-form {
  text-align: center;
  background-color: $box-bg-color;
  margin: 16px;
}

.search-form-title {
  background-color: $box-header-bg-color;
  color: $app-text-color;
  padding: 8px;
}

.search-form-content {
  form {
    display: flex;
  }

  input {
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1.0em;
    border-style: none;
    background-color: $input-bg-color;
    color: $input-text-color;

    &[type="text"] {
      flex: 5 2;
    }
    &[type="submit"] {
      flex: 1 1;
    }
  }
}

.box-content-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.box-content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.box-login-form {
  text-align: center;
  background-color: $box-bg-color;
  margin: 16px;
}

.box-login-form-title {
  background-color: $box-header-bg-color;
  color: $app-text-color;
  padding: 8px;
}

.box-login-form-content {
  form {
    display: flex;
  }

  input {
    border: none;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1.0em;
    color: $input-text-color;
    background-color: $input-bg-color;

    &[type="button"] {
      flex: 2 1;
    }
    &[type="submit"] {
      flex: 2 1;
    }
    &[type="text"] {
      flex: 4 2;
    }
    &[type="password"] {
      flex: 4 2;
    }
    &[type="email"] {
      flex: 4 2;
    }
  }

  select, textarea {
    border: none;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1.0em;
    color: $input-text-color;
    background-color: $input-bg-color;
  }

  p {
    flex: 1 1;
  }

  label {
    flex: 1 1;
  }
}

.flash-container {
  border-style: solid;
  border-radius: 8px;
  border-width: 2px;
  margin: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.flash-container-info {
  @extend .flash-container;
  border-color: $flash-info-color;
  background-color: $flash-info-color * 6;
}

.flash-container-warn {
  @extend .flash-container;
  border-color: $flash-warn-color;
  background-color: $flash-warn-color * 6;
}

.flash-container-danger {
  @extend .flash-container;
  border-color: $flash-danger-color;
  background-color: $flash-danger-color * 6;
}

.floating-box {
  display: flex;
  align-content: center;
  .box-content-row {
    margin: 16px auto;
    background: $floating-box-bg-color;
  }
  .box-content-column {
    margin: 16px;
  }
}

.box-align-left {
  text-align: left;
  align-items: left;
}
.box-align-right {
  text-align: right;
  align-items: right;
}
.box-align-baseline {
  align-items: baseline;
}

.product-name {
  font-size: 2em;
  &.minimum {
    font-size: 1em;
    font-weight: bold;
  }
}

.price {
  color: $floating-price-color;
  font-size: 2em;
  &.minimum {
    font-size: 1.5em;
  }
}

.product-condition {
  font-size: 1.5em;
  font-weight: bold;
}

.product-condition-new {
  @extend .product-condition;
  color: $product-condition-new-color;
}

.product-condition-used {
  @extend .product-condition;
  color: $product-condition-used-color;
}

.product-thumbnail {
  width: 100%;
  max-width: 256px;
  height: auto;
  &.minimum {
    max-width: 64px;
  }
}

input {
  &.minimum-width-input {
    width: 64px !important;
  }
  &:hover {
    box-shadow: 0 0 4px 0 $app-selected-color;
  }

  &:focus {
    box-shadow: 0 0 4px 0 $input-focus-glow-color;
    background-color: $input-focus-bg-color;
  }
}

ul {
  text-align: left;
}
