@import "_reset";


$headers: h1, h2, h3, h4, h5, h6;

#{$headers} {
  font-family: $root-font-family;
}

p {
  font-family: $root-font-family;
}

a {
  font-family: $root-font-family;
}

body {
  margin: 0;
  background-color: dimgray;
}

@media screen and (min-width: 1024px) {
  body {
    width: 1024px;
    margin: 0 auto;
  }
}

.system-logo {
  text-align: center;
  background-color: dimgray;
  color: white;
  font-size: 2.0em;
  font-weight: bold;
}

.system-logo-link {
  text-decoration: none;
  color: inherit;
}

.search-form {
  text-align: center;
  background-color: lightgray;
}

.search-form-title {
  background-color: gray;
  color: white;
}

div.search-form-content form {
  display: flex;
}

div.search-form-content input {
  margin: 0.5em;
  padding: 0.5em;
  font-size: 1.0em;
  border-style: none;
  background-color: white;
  color: black;
}

div.search-form-content input[type="text"] {
  flex: 5 2;
}

div.search-form-content input[type="submit"] {
  flex: 1 1;
}

.box-content-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-content-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box-login-form {
  text-align: center;
  background-color: lightgray;
}

.box-login-form-title {
  background-color: gray;
  color: white;
}

div.box-login-form-content form {
  display: flex;
}

div.box-login-form-content input {
  border: none;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 1.0em;
  color: black;
  background-color: white;
}

div.box-login-form-content input[type="button"] {
  flex: 2 1;
}

div.box-login-form-content input[type="submit"] {
  flex: 2 1;
}

div.box-login-form-content input[type="text"] {
  flex: 4 2;
}

div.box-login-form-content input[type="password"] {
  flex: 4 2;
}

div.box-login-form-content p {
  flex: 1 1;
}

input:hover {
  box-shadow: 0 0 4px 0 gold;
}

input:focus {
  box-shadow: 0 0 4px 0 skyblue;
  background-color: lightgray;
}
